


*{
    box-sizing: border-box;
}

body {
   font-family: 'Courier New', Courier, monospace;
   background: #F4F6F9; /*$ligtGrey*/
}

#sideMenu{
    background-color: #282639; /*$purpleLight */
    max-width: 280px;
    /* margin-top: 100px; */
}
nav{
    margin-top: 100px;  
}
nav a{
    
    display: block;
    color: white;
    text-decoration: none;    
    padding:  15px 30px;
}
nav a:hover{
    color: red; /*$purpleDark*/
}

nav a:active{
    color:red; /*$purpleDark*/
}