@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.top_navbar {
    background: #002855;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.top_navbar .hamburger {
    width: 80px;
    background: #023E7D;
    position: relative;
    font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.top_navbar .hamburger .hamburger__inner>div {
    width: 30px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.top_navbar .hamburger .hamburger__inner div.two {
    top: 10px;
    width: 40px;
}

.top_navbar .hamburger .hamburger__inner div.three {
    top: 20px;
}

.top_navbar .menu {
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.top_navbar .menu .logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    display: inline-flex;
}

.top_navbar .menu .right_menu button {
    background-color: red;
    opacity: 0.7;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.top_navbar .menu .right_menu button:hover {
    opacity: 1;
}

.top_navbar .menu .right_menu ul li {
    position: relative;
}

.top_navbar .menu .right_menu ul li .fas {
    font-size: 22px;
    cursor: pointer;
    cursor: #004d40;
    /* padding-left: 1050px; */
}

.top_navbar .menu .right_menu ul li .profile_dd {
    position: absolute;
    top: 35px;
    right: -10px;
    background: #ffffff;
    width: 180px;
    padding: 10px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    user-select: none;
    display: none;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item {
    padding: 10px;
    cursor: pointer;
    cursor: #004d40;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover {
    background: #A9D6E5;
}

.top_navbar .menu .right_menu ul li .profile_dd::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 10px;
    border: 10px solid;
    border-color: transparent transparent #ffffff transparent;
}

.top_navbar .menu .right_menu ul li .profile_dd.active {
    display: block;
}

.main_container .sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 225px;
    height: 100%;
    background: #001233;
    transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner {
    position: relative;
}

.main_container .sidebar .profile {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 20px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.main_container .sidebar .profile .img .fas {
    /* width: 45px; */
    font-size: 30px;
    margin: 0 10px;
}

.main_container .sidebar .profile p:first-child {
    font-size: 14px;
    color: #0466C8;
    margin-bottom: 3px;
}

.main_container .sidebar ul li a {
    color: #ffffff;
    font-size: 18px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon {
    margin-right: 15px;
    font-size: 20px;
}

.main_container .sidebar ul li a span {
    display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active,
.active {
    background: #ffffff;
    color: #001233;
}

.main_container .container {
    margin-top: 60px;
    width: calc(100% - 225px);
    margin-left: 225px;
    padding: 30px;
    transition: all 0.3s ease;
}

#item-1 {
    /* first display contents */
    display: block;
}

.main_container .container .item {
    /* border: 1px solid #e0f2f1; */
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    display: none;
}

.main_container .container .item #canvas {
    border: 1px solid #e0f2f1;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
    display: block;
}

.wrapper.active .sidebar {
    width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .sidebar .profile {
    display: none;
}

.wrapper.active .main_container .container {
    width: calc(100% - 80px);
    margin-left: 80px;
}


/* tab project javascript */

.accordion {
    background: #f9f9f9;
}

.accordion-tabs {
    display: none;
}

.accordion-tab:focus {
    outline: none;
}

.accordion-item {
    border-bottom: 1px solid #eaeaea;
}

.accordion-item:last-child {
    border: none;
}

.accordion-item__label {
    margin: 0;
    padding: 1.25rem;
    cursor: pointer;
    transition: padding .2s ease;
    position: relative;
}

.accordion-item__label:after {
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    top: -4px;
    right: 1.25rem;
    bottom: 0;
    margin: auto;
    border: 3px solid transparent;
    transform: rotate(45deg);
    border-color: transparent #447fff #447fff transparent;
    opacity: 1;
    transition: opacity .1s ease;
}

.accordion-item__label:hover {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-item__container {
    padding: 0 1.25em;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding .2s ease, opacity .5s .15s ease;
}

.accordion-active {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-active .accordion-item__label {
    padding-bottom: 0;
    cursor: pointer;
}

.accordion-active .accordion-item__label:hover {
    background: none;
}

.accordion-active .accordion-item__label::after {
    opacity: 0;
}

.accordion-active .accordion-item__container {
    padding: 1.25em;
    height: auto;
    opacity: 1;
}

.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h1:first-child,
.accordion-active .accordion-item__container h2:first-child,
.accordion-active .accordion-item__container h3:first-child,
.accordion-active .accordion-item__container h4:first-child,
.accordion-active .accordion-item__container h5:first-child,
.accordion-active .accordion-item__container h6:first-child {
    margin-top: 0;
}

.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h1:last-child,
.accordion-active .accordion-item__container h2:last-child,
.accordion-active .accordion-item__container h3:last-child,
.accordion-active .accordion-item__container h4:last-child,
.accordion-active .accordion-item__container h5:last-child,
.accordion-active .accordion-item__container h6:last-child {
    margin-bottom: 0;
}


/* desktop website */

@media (min-width: 600px) {
    .accordion-tabs {
        display: -webkit-box;
        display: flex;
        background: rgba(68, 127, 255, 0.1);
    }
    .accordion-tabs .accordion-tab {
        background: rgba(68, 127, 255, 0.1);
        padding: 1rem, 2rem;
        font: inherit;
        -webkit-box-flex: 1;
        flex: 1;
        border: none;
        cursor: pointer;
        transition: background .1s ease;
    }
    .accordion-tabs .accordion-tab:hover {
        background: rgba(249, 249, 249, 0.1);
    }
    .accordion-tabs .accordion-tab:last-child {
        border-right: 0;
    }
    .accordion-tabs .accordion-tab:focus.accordion-active {
        background: #f9f9f9;
    }
    .accordion-item {
        padding: 2.4rem;
        display: none;
        background: #f9f9f9;
        min-height: 260px;
    }
    .accordion-item__label,
    .accordion-item__container {
        padding: 0;
        transition: inherit;
    }
    .accordion-item__label {
        margin-bottom: 1.5rem;
    }
    .accordion-item.accordion-active {
        display: block;
    }
    .accordion-item.accordion-active .accordion-item__container {
        padding: 0;
    }
}

.accordion {
    box-shadow: 0 1em 2em --0.9em rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    /* max-width: 400px; */
    /* 2:38:46 */
}

@media (min-width: 600px) {
    .accordion {
        max-width: 600px;
    }
}

.accordion+p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: .9rem;
    margin-top: 2rem;
}

body {
    /* background: whitesmoke; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
}

#heatmapContainer {
    /* border: 2px solid black;
    width: 100%;
    height: 100%;
    background-image: url("../images/datacenterRoom2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    /* position: relative; */
    position: relative;
    margin: auto;
    width: 100%;
    height: 600px;
    background-image: url("../images/datacenterRoom6.png");
    background-size: 100% 100%;
    border: 1px solid black;
    padding: 15px;
    z-index: 1;
    overflow: hidden;
}

#heatmapArea {
    /* border: 2px solid red; */
    /* position: relative; */
    /* position: absolute; */
    width: 88%;
    height: 95%;
    z-index: 2;
    /* margin: 20px; */
}

#heatmapArea canvas {
    z-index: -1;
}

#heatmapArea div {
    z-index: 3;
    /* margin: 20px; */
}

#rack1 {
    position: absolute;
    /* position: fixed; */
    /* border: 2px solid red; */
    width: 690px;
    height: 205px;
    top: 190px;
    left: 185px;
    /* float: center; */
    background-image: url("../images/rack.png");
    /* background-color: red; */
    background-size: 100% 100%;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
}


/* Profile */

.profile-edit {
    width: 50%;
    margin: 70px 15% 80%;
    padding: 0;
    display: table;
    position: absolute;
}

.profile-agile {
    width: 100%;
    float: center;
}

.profile-edit .profile-agile .form-control {
    margin-bottom: 20px;
}

.profile-edit .profile-agile h1 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid #002855;
}

label.header {
    font-size: 18px;
    font-weight: 500;
    width: 215px;
    margin-right: 10px;
    text-align: justify;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    display: inline-block;
    font-family: 'Nunito', sans-serif;
}

input#store_firstname,
input#store_lastname,
input#store_contactEmail,
input#store_line_notify_token,
input#store_EmailID,
input#store_NewPassword,
input#store_ComfirmPassword,
input#store_CurrentPassword {
    padding: 0 40px;
    width: 45%;
    height: 55px;
    border: 1px solid #dadada;
    color: black;
    text-align: justify;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Muli', sans-serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

input#store_firstname:focus,
input#store_lastname:focus,
input#store_contactEmail:focus,
input#store_line_notify_token:focus,
input#store_CurrentPassword:focus {
    background-color: #f5f8fa !important;
    border: 1px solid #dadada;
}

input::-webkit-input-placeholder {
    color: grey;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: grey;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: grey;
}

input:-ms-input-placeholder {
    color: grey;
}

.btnsave-info {
    background-color: lightgreen;
    width: 52%;
    height: 55px;
    border: none;
    margin-left: 233px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.btnchange-info {
    background-color: lightblue;
    width: 52%;
    height: 55px;
    border: none;
    margin-left: 233px;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.btnchange-info:hover {
    background-color: #023E7D;
    color: #fff;
}

.btnsave-info:hover {
    background-color: #36b051;
    color: #fff;
}

.change-info-div {
    display: block;
}

.save-info-div {
    display: none;
}

path {
    border: 3px solid green;
}

.layout-chart {
    display: inline-block;
    margin: 20px;
}


/* gauge section */


/* #item-2 {
    border: 2px solid black;
} */

.gauge {
    /* border: 1px solid black; */
    width: 100%;
    max-width: 270px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
    display: inline-block;
    margin: 30px 32px;
    position: relative;
    z-index: 1;
    /*fix gauge is overlay on topbar menu*/
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
    overflow: inherit;
}

.gauge__value {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    font-weight: bold;
    overflow: inherit;
}

.sc-location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 200;
    overflow: inherit;
}

.sc-min {
    float: left;
    font-size: 14px;
    overflow: inherit;
}

.sc-max {
    float: right;
    font-size: 16px;
    overflow: inherit;
}

.In-front-section {
    border: 2px solid black;
    margin-bottom: 10px;
}

.behind-section {
    border: 2px solid black;
    margin-bottom: 10px;
}

.humidity-section {
    border: 2px solid black;
}

#item-2 p {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#status-color p {
    font-size: 20px;
    font-weight: bold;
}


/* config section */

.body-table {
    width: 50%;
    margin: 70px 15% 80%;
    padding: 0;
    display: table;
    position: absolute;
}

.table-agile {
    width: 100%;
    float: center;
}

.body-table .table-agile h1 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid #002855;
}

#input-device {
    margin-bottom: 10px;
    width: 100%;
}

#input-device input {
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#input-device button {
    padding: 10px;
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#input-device button:hover {
    background-color: #023E7D;
    color: #fff;
}

.group {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

#btnadd-device {
    margin-top: 25px;
    position: absolute;
    font-size: 16px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #023E7D;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#delete-device {
    width: 80px;
    background-color: lightcoral;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 12px;
}

#delete-device:hover {
    background-color: #E74C3C;
    font-weight: bold;
}


/* History section  */

#label-date {
    width: 40%;
    /* text-align: center; */
    font-size: 35px;
    /* background-color: rgb(2, 62, 125); */
    margin-bottom: 10px;
    color: rgb(2, 62, 125);
    padding: 10px;
    font-weight: bold;
}

#input-date {
    margin-bottom: 10px;
    width: 31%;
    /* padding-left: 850px; */
    display: inline-block;
}

#input-date input {
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#input-date button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#input-date button:hover {
    background-color: #023E7D;
    color: #fff;
}

.group-date {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

#search_history {
    margin-top: 25px;
    position: absolute;
    font-size: 16px;
}


/* ----------------------------------- */

#input-unit {
    margin-bottom: 10px;
    width: 31%;
    display: inline-block;
    /* padding-left: 850px; */
}

#input-unit select {
    padding: 10px;
    width: 250px;
    /* border-radius: 30px; */
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#input-unit button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#input-unit button:hover {
    background-color: #023E7D;
    color: #fff;
}

.group-unit {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

#change-unit {
    margin-top: 25px;
    position: absolute;
    font-size: 16px;
}


/* ------------------------------------ */

#input-month {
    margin-bottom: 10px;
    width: 31%;
    display: inline-block;
    /* padding-left: 850px; */
}

#input-month input {
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#input-month button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#input-month button:hover {
    background-color: #023E7D;
    color: #fff;
}

.group-month {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

#select_month {
    margin-top: 25px;
    position: absolute;
    font-size: 16px;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.label-loader {
    margin-left: auto;
    margin-right: auto;
    transition-duration: 300ms;
    color: rgb(220, 20, 60);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.load-Wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}


/* Alert section */

.body-alert-section {
    width: 50%;
    margin: 70px 15% 80%;
    padding: 0;
    display: table;
    position: absolute;
}

.alert-section-agile {
    width: 100%;
    float: center;
    margin-bottom: 30px;
}

.alert-section-agile input {
    margin-top: 20px;
    width: 35%;
}

.body-alert-section .alert-section-agile h1 {
    font-size: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 5px solid #002855;
}

#set-temp {
    margin-bottom: 10px;
    width: 100%;
}

#set-temp input {
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#set-temp button {
    padding: 10px;
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#set-temp button:hover {
    background-color: #023E7D;
    color: #fff;
}

.group {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

input#maximum-alert-temp,
input#minimum-alert-temp,
input#maximum-alert-humidity,
input#minimum-alert-humidity {
    padding: 0 40px;
    width: 20%;
    height: 55px;
    border: 1px solid #dadada;
    color: black;
    text-align: center;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Muli', sans-serif;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

label.footer {
    font-size: 18px;
    font-weight: 500;
    width: 215px;
    margin-right: 10px;
    text-align: justify;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    display: inline-block;
    font-family: 'Nunito', sans-serif;
}

#input-time {
    margin-bottom: 10px;
    width: 31%;
    /* padding-left: 850px; */
    display: inline-block;
}

#input-time input {
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border: solid black 1px;
    text-align: center;
    font-size: 16px;
}

#input-time button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    color: #fff;
}

#input-time button:hover {
    background-color: #023E7D;
    color: #fff;
}

#label-date-Heatmap {
    width: 40%;
    /* text-align: center; */
    font-size: 35px;
    /* background-color: rgb(2, 62, 125); */
    margin-bottom: 10px;
    color: rgb(2, 62, 125);
    padding: 10px;
    font-weight: bold;
}


/* slider bar*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#label-time-Heatmap {
    width: 40%;
    /* text-align: center; */
    font-size: 30px;
    /* background-color: rgb(2, 62, 125); */
    margin-bottom: 10px;
    color: rgb(2, 62, 125);
    padding: 10px;
    font-weight: bold;
}