@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.top_navbar{
    background: #002855;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.top_navbar .hamburger{
    width: 80px;
    background: #023E7D;
    position: relative;
    font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.top_navbar .hamburger .hamburger__inner > div{
    width: 30px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.top_navbar .hamburger .hamburger__inner div.two{
    top: 10px;
    width: 40px;
}

.top_navbar .hamburger .hamburger__inner div.three{
    top: 20px;
}

.top_navbar .menu{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px;
}

.top_navbar .menu .logo{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    align-items: center;
    display: inline-flex;
}

.top_navbar .menu .right_menu ul li{
    position: relative;
}

.top_navbar .menu .right_menu ul li .fas{
    font-size: 22px;
    cursor: pointer;
    cursor: #004d40;
    /* padding-left: 1050px; */
}

.top_navbar .menu .right_menu ul li .profile_dd{
    position: absolute;
    top: 35px;
    right: -10px;
    background: #ffffff;
    width: 180px;
    padding: 10px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    user-select: none;
    display: none;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
    padding: 10px;
    cursor: pointer;
    cursor: #004d40;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
    background: #A9D6E5;
}

.top_navbar .menu .right_menu ul li .profile_dd::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 10px;
    border: 10px solid;
    border-color: transparent transparent #ffffff transparent;
}

.top_navbar .menu .right_menu ul li .profile_dd.active{
    display: block;
}

.main_container .sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 225px;
    height: 100%;
    background: #001233;
    transition: all 0.3s ease;
}

.main_container .sidebar .sidebar__inner{
    position: relative;
}

.main_container .sidebar .profile{
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 20px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.main_container .sidebar .profile .img .fas{
    /* width: 45px; */
    font-size: 30px;
    margin: 0 10px;
}

.main_container .sidebar .profile p:first-child{
    font-size: 14px;
    color: #0466C8; 
    margin-bottom: 3px;
}

.main_container .sidebar ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon {
    margin-right: 15px;
    font-size: 20px;
}

.main_container .sidebar ul li a span {
    display: inline-block;
}
.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active, .active {
    background: #ffffff;
    color: #001233;
}

.main_container .container{
    margin-top: 60px;
    width: calc(100% - 225px);
    margin-left: 225px;
    padding: 30px;
    transition: all 0.3s ease;
}

.main_container .container .item{
    border: 1px solid #e0f2f1; 
    margin-bottom: 30px;
    padding: 20px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.active .sidebar{
    width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .sidebar .profile{
    display: none;
}

.wrapper.active .main_container .container{
    width: calc(100% - 80px);
    margin-left: 80px;
}

/* tab project javascript */
.accordion{
    background: #f9f9f9;
}
.accordion-tabs{
    display: none;
}
.accordion-tab:focus{
    outline: none;
}
.accordion-item{
    border-bottom: 1px solid #eaeaea;
}
.accordion-item:last-child{
    border: none;
}
.accordion-item__label {
    margin: 0;
    padding: 1.25rem;
    cursor: pointer;
    transition: padding .2s ease;
    position: relative;
}

.accordion-item__label:after{
    content: "";
    height: 4px;
    width: 4px;
    position: absolute;
    top: -4px;
    right: 1.25rem;
    bottom: 0;
    margin: auto;
    border: 3px solid transparent;
    transform: rotate(45deg);
    border-color: transparent #447fff #447fff transparent ;
    opacity: 1;
    transition: opacity .1s ease;
}

.accordion-item__label:hover {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-item__container {
    padding: 0 1.25em;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: padding .2s ease, opacity .5s .15s ease;
}

.accordion-active {
    background: rgba(68, 127, 255, 0.1);
}

.accordion-active .accordion-item__label {
    padding-bottom: 0;
    cursor: pointer;
}

.accordion-active .accordion-item__label:hover {
    background: none;
}
.accordion-active .accordion-item__label::after {
    opacity: 0;
}
.accordion-active .accordion-item__container {
    padding: 1.25em;
    height: auto;
    opacity: 1;
}
.accordion-active .accordion-item__container p:first-child,
.accordion-active .accordion-item__container h1:first-child,
.accordion-active .accordion-item__container h2:first-child,
.accordion-active .accordion-item__container h3:first-child,
.accordion-active .accordion-item__container h4:first-child,
.accordion-active .accordion-item__container h5:first-child,
.accordion-active .accordion-item__container h6:first-child{
    margin-top: 0;
}

.accordion-active .accordion-item__container p:last-child,
.accordion-active .accordion-item__container h1:last-child,
.accordion-active .accordion-item__container h2:last-child,
.accordion-active .accordion-item__container h3:last-child,
.accordion-active .accordion-item__container h4:last-child,
.accordion-active .accordion-item__container h5:last-child,
.accordion-active .accordion-item__container h6:last-child{
    margin-bottom: 0;
}

/* desktop website */
@media (min-width: 600px) {
    .accordion-tabs {
        display: -webkit-box;
        display: flex;
        background: rgba(68, 127, 255, 0.1);
    }
    .accordion-tabs .accordion-tab {
        background: rgba(68, 127, 255, 0.1);
        padding: 1rem, 2rem;
        font: inherit;
        -webkit-box-flex: 1;
        flex: 1;
        border: none;
        cursor: pointer;
        transition: background .1s ease;
    }
    .accordion-tabs .accordion-tab:hover {
        background: rgba(249, 249, 249, 0.1);
    }
    .accordion-tabs .accordion-tab:last-child {
     border-right: 0;
    }
    .accordion-tabs .accordion-tab:focus.accordion-active {
        background: #f9f9f9;
    }
    .accordion-item {
        padding: 2.4rem;
        display: none;
        background: #f9f9f9;
        min-height: 260px;
    }
    .accordion-item__label, .accordion-item__container {
        padding: 0;
        transition: inherit;
    }
    .accordion-item__label {
        margin-bottom: 1.5rem;
    }
    .accordion-item.accordion-active {
        display: block;
    }
    .accordion-item.accordion-active .accordion-item__container {
        padding: 0;
    }

}

.accordion {
    box-shadow: 0 1em 2em --0.9em rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    /* max-width: 400px; */
    /* 2:38:46 */
}

@media (min-width: 600px) {
    .accordion {
        max-width: 600px;
    }
}

.accordion + p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: .9rem;
    margin-top: 2rem;
}

body {
    /* background: whitesmoke; */
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-size: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100vh;
}